body{
    background-color:black;
}

h1{
    color:white;
    text-align:center;
}

p{
    font-size: 30px;
    text-align:center;
    width:100px;
    height:100px;
    margin:auto;
    top:50%;
    bottom:50%;
}